.paypal-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paypal-container>div{
 width: 70vw;
}

@media (max-width: 399px) {
  /* Aquí colocas las reglas CSS que deseas aplicar para dispositivos menores a 400px */
  .paypal-container>div{
    width: 95vw;
  }
}